:root{
    /* Background Color */
    --bgc-1: #2f2f2f;

    /* Color */
    --color-1: #dedede;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body, main{
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bgc-1);
    color: var(--color-1);
}
main{
    display: flex;
    flex-direction: column;
}

#infos{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 15vw;
    font-size: 1.32em;
    font-weight: 600;
    
}

#infos div{

    height: 6vh;
    width: 16vw;
    /* border: 1px solid #fefefe ; */
    text-align: center;
    border-radius: 10px;
    background-color: #5b5b5be1 ;
    color: #fffffff5;
    padding-top: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 2px 8px 24px;
}



#board{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid{
    height: 90%;
    width: 85%;
    border: 2px solid #9c9c9c;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px , 1fr));
    grid-template-rows: repeat(auto-fill, minmax(40px , 1fr));
    overflow: hidden;
    border-radius: 10px;
}

.boxes{
    height: 40px;
    width: 40px;
    border: 0.5px solid #4d4d4d;
}
